body {
    background-color: #e6d9a8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

/* TITRE */
h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}

/* CONTENEUR */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* espace entre boutons */
}

/* BOUTONS */
.btn {
    background: #e5c96b;
    padding: 15px 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
}

/* HOVER (effet stylé) */
.btn:hover {
    background: #d4b85a;
    transform: scale(1.05);
}